.carouselXoriant-logos {
  width: 40%;
  margin-top: 12%;
}

.carouselCavista-logos {
  width: 40%;
  background-color: white;
  margin-top: 10%;
  padding: 8px;
  border-radius: 10px;
}

.carouselCHealByUS-logos {
  width: 38%;
  height: 60%;
  background-color: white;
  margin-top: 4%;
  padding: 1px;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .carousel-logos {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-logos {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .carousel-logos {
    width: 50%;
  }
}

@media screen and (max-width: 675px) {
  .carousel-logos {
    width: 56%;
  }
}
