.carousel-logos {
  width: 40%;
  padding: 12px 0px;
}

.carouselCavista-logos {
  width: 40%;
  background-color: white;
  margin-top: 6%;
  padding: 8px;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .carousel-logos {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-logos {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .carousel-logos {
    width: 50%;
  }
}

@media screen and (max-width: 675px) {
  .carousel-logos {
    width: 56%;
  }
}
