.carouselXoriant-logos {
  width: 12%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}

.carouselCavista-logos {
  width: 12%;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.carouselCHealByUS-logos {
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .carouselXoriant-logos,
  .carouselCavista-logos {
    width: 45% !important;
  }
}

.marqueeLogos {
  margin-top: 25px;
}
