.about {
  margin-top: 1%;
}

.about-grid {
  display: grid;
  grid-template-columns: auto minmax(40%, 60%);
  grid-gap: 5px;
  font-family: cursive;
  margin-bottom: 10px;
}

.about-profileImage {
  position: relative;
  display: block;
}

.avatar {
  width: 31%;
  margin: 4% auto 0px auto;
  border-radius: 16%;
  padding: 10px;
  border: 3px solid;
  animation: changeColor 4s infinite alternate;
}
@keyframes changeColor {
  0% {
    border-color: red;
  }
  14% {
    border-color: orange;
  }
  28% {
    border-color: yellow;
  }
  42% {
    border-color: green;
  }
  57% {
    border-color: blue;
  }
  71% {
    border-color: indigo;
  }
  85% {
    border-color: violet;
  }
  100% {
    border-color: red;
  }
}

.about-profiledescription {
  margin-right: 50px;
  margin-top: 4%;
  font-size: 1.08rem;
  color: white;
}

/*-----------------------------for taking about description below-----------------------------------*/
@media screen and (max-width: 675px) {
  .about-grid {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
  .about-profiledescription {
    margin: 0 20px;
  }
}
