.about {
  margin-top: 1%;
}

.about-grid {
  font-family: cursive;
  margin-bottom: 10px;
}

.about-profiledescription {
  margin-right: 50px;
  margin-top: 3%;
  margin-left: 50px;
  font-size: 1.08rem;
  color: white;
}

/*-----------------------------for taking about description below-----------------------------------*/
@media screen and (max-width: 675px) {
  .about-grid {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
  .about-profiledescription {
    margin: 0 20px;
  }
}

.about-employer-carousel {
  margin: 7% 65px 3% 65px;
}
