.main-div {
  margin: 10px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 5px;
  font-family: cursive;
  height: 100vh;
  position: relative;
}

.main-div div {
  position: relative;
}

.main-subdiv1 {
  margin-top: 18%;
  position: relative;
}

.main-role {
  text-align: center;
  margin-left: 8%;
  font-size: 1.6rem;
  line-height: 2.1;
  position: relative;
}

.main-name {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.main-shortdescription {
  text-align: center;
  color: white;
  font-size: 1.09rem;
  font-weight: normal;
}

.resume-button {
  padding: 5px 45px;
  margin: 20px 0;
  background-color: transparent;
  font-size: 1.1rem;
  color: aqua;
  border: 2px solid aqua;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none !important ;
}

.resume-button:hover {
  border: 2px solid DodgerBlue;
  text-decoration: none !important;
  i {
    color: white;
  }
}

@media screen and (max-width: 675px) {
  .main-div {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
  .main-role {
    padding-right: 8%;
  }
}

//---------------------------------------------right side homescreen-------------------------------------

.main-subdiv2 {
  padding: 0;
  margin-right: 2px;
  position: relative;
  flex: 1;
  padding-bottom: 0;
}
.main-subdiv2:hover {
  cursor: pointer;
  transition: 2s;
  .blob-images1 {
    width: 70%;
  }
  .blob-images2 {
    width: 63%;
  }
}

.main-subdiv2 > * {
  position: relative;
  z-index: 1;
}

.blob-images1 {
  position: absolute;
  width: 75%;
  left: 50%;
  top: 4%;
  transition: 0.8s;
  padding: 0;
  z-index: 1;
  -webkit-animation: blob-images1-Animate 1.5s infinite alternate;
  animation: blob-images1-Animate 1.5s infinite alternate;
}

.blob-images2 {
  position: absolute;
  width: 68%;
  left: 50%;
  top: 6%;
  transition: 0.8s;
  rotate: -8deg;
  -webkit-animation: blob-images2-Animate 1.5s infinite alternate;
  animation: blob-images2-Animate 1.5s infinite alternate;
}

@keyframes blob-images1-Animate {
  0% {
    transform: translate(-45%, 50px);
  }
  100% {
    transform: translate(-47%, 90px);
  }
}

@keyframes blob-images2-Animate {
  0% {
    transform: translate(-50%, 50px);
  }
  100% {
    transform: translate(-50%, 10px);
  }
}

.blob-Myimages1 {
  position: relative;
  width: 52%;
  margin-top: 2.5%;
  padding: 0;
  z-index: 2;
  transition: 0.8s;
  border-radius: 0px 0px 50px 98px;
}
.blob-Myimages1:hover {
  cursor: pointer;
  transition: 1s;
  margin-top: 1%;
}

@media screen and (max-width: 1450px) {
  .blob-Myimages1 {
    width: 56%;
  }
}
@media screen and (max-width: 1380px) {
  .blob-Myimages1 {
    width: 58%;
    margin-top: 3.5%;
  }
  .blob-images2 {
    width: 80%;
  }
  .blob-images1 {
    width: 88%;
  }
}
@media screen and (max-width: 1280px) {
  .blob-Myimages1 {
    width: 60%;
  }
  .blob-images2 {
    width: 83%;
  }
  .blob-images1 {
    width: 91%;
  }
}

// @media screen and (max-width: 1200px) {
//   .blob-Myimages1 {
//     width: 54%;
//   }
//   .blob-images2 {
//     width: 85%;
//   }
//   .blob-images1 {
//     width: 92%;
//   }
// }

@media screen and (max-width: 1215px) {
  .blob-Myimages1 {
    width: 63%;
    margin-top: 4.3%;
  }
  .blob-images2 {
    width: 83%;
  }
  .blob-images1 {
    width: 91%;
  }
}

@media screen and (max-width: 1110px) {
  .blob-Myimages1 {
    width: 69%;
    // width: 58%;
  }
  .blob-images2 {
    width: 87%;
  }
  .blob-images1 {
    width: 94%;
  }
}

@media screen and (max-width: 1040px) {
  .main-subdiv2 {
    margin-top: 7%;
  }
  .blob-Myimages1 {
    width: 74%;
    // width: 58%;
  }
  .blob-images2 {
    width: 85%;
  }
  .blob-images1 {
    width: 92%;
  }
}

@media screen and (max-width: 1010px) {
  .blob-Myimages1 {
    width: 75%;
    margin-top: 3%;
    // width: 60%;
  }
  .blob-images2 {
    width: 86%;
  }
  .blob-images1 {
    width: 93%;
  }
}

@media screen and (max-width: 950px) {
  .main-subdiv2 {
    padding-top: 5%;
  }
  .blob-Myimages1 {
    width: 78%;
  }
  .blob-images2 {
    width: 87%;
  }
  .blob-images1 {
    width: 94%;
  }
}

@media screen and (max-width: 850px) {
  .main-subdiv2 {
    padding-top: 9%;
  }
  .blob-Myimages1 {
    width: 64%;
  }
  .blob-images2 {
    width: 88%;
  }
  .blob-images1 {
    width: 95%;
  }
}

@media screen and (max-width: 880px) {
  .main-subdiv2 {
    padding-top: 10%;
  }
  .blob-Myimages1 {
    width: 65%;
  }
  .blob-images2 {
    width: 89%;
  }
  .blob-images1 {
    width: 96%;
  }
}

@media screen and (max-width: 750px) {
  .main-subdiv2 {
    padding-top: 18%;
  }
}

@media screen and (max-width: 690px) {
  .main-div {
    height: 95vh;
  }
  .main-subdiv2 {
    height: 80vh;
  }
  .blob-Myimages1 {
    width: 49%;
  }
  .blob-images2 {
    width: 74%;
  }
  .blob-images1 {
    width: 84%;
  }
}

.main-subdiv3 {
  z-index: 5;
  display: flex;
  position: relative;
}
