.topnav {
  overflow: hidden;
  font-family: cursive;
  margin: 0;
  padding: 0;
}

.header-nameSpan {
  font-size: 1.2rem;
  font-weight: bolder;
}

.header-nameSpanArrow {
  font-size: 1.3rem;
  color: yellow;
  font-weight: bolder;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 10px 10px 10px;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 9%;
  font-weight: 00;
}

.topnav-right {
  margin-right: 1%;
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: aqua;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: aqua;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

a:hover::before {
  transform: scaleX(1);
}

.btn {
  cursor: pointer;
  color: white;
  background-color: dodgerblue;
  padding: 2px 7px;
  border-radius: 5px;
}
.btn:hover {
  color: dodgerblue;
  background-color: white;
}

@media screen and (max-width: 1145px) {
  .topnav-right {
    margin-right: 5%;
  }
}

@media screen and (max-width: 680px) {
  .topnav a {
    margin-left: 2%;
  }
  .topnav-right {
    margin-right: 8%;
  }
}

@media screen and (max-width: 565px) {
  .topnav-right {
    margin-right: 15%;
  }
  .header-nameSpan {
    font-size: 1.1rem;
  }
}
