.topnav {
  overflow: hidden;
  font-family: cursive;
  margin: 0;
  padding: 0;
}

.header-nameSpan {
  font-size: 0.7rem;
  font-weight: bold;
}

.header-nameSpanArrow {
  font-size: 1rem;
  color: yellow;
  font-weight: bolder;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 10px 10px 10px;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 2%;
  font-weight: 00;
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 680px) {
  .topnav a {
    margin-left: 2%;
  }
}

@media screen and (max-width: 565px) {
  .header-nameSpan {
    font-size: 1.1rem;
  }
}
