.logoStyle {
  margin: 15px 30px 20px 0px;
  cursor: pointer;
  animation: swing ease-in-out 1.5s infinite alternate;
}

.swing:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

.swing:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% {
    transform: rotate(22deg);
  }
  100% {
    transform: rotate(-22deg);
  }
}
