.App {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: 2s;
}

.home-pageSection {
  height: 100vh;
  overflow: hidden;
}

.pageSection {
  height: 100vh;
  overflow: auto;
}

@media screen and (max-width: 960px) {
  .home-pageSection {
    overflow: auto;
  }
}
