.form {
  width: 33%;
  height: 75%;
  background: #6e6e6e;
  border-radius: 20px;
  box-shadow: 0 0 60px -10px #000;
  margin: 3% auto;
  padding: 20px 30px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.input-styles {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  text-align: center;
  color: white;
}
.input-styles :focus {
  border-bottom: 2px solid dodgerblue;
}
.input-styles::placeholder {
  color: #252525;
}
.form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #cecece;
  font-weight: bold;
}

@media screen and (max-width: 980px) {
  .form {
    width: 45%;
  }
}

@media screen and (max-width: 730px) {
  .form {
    width: 55%;
  }
}

@media screen and (max-width: 675px) {
  .form {
    width: 75%;
  }
}
